/*===========================
        Fuente texto
===========================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*===========================
        Tamaño pantalla
===========================*/

@media (min-width: 768px) {
    .carousel-inner {
        min-height: 25rem;
    }
}

@media (min-width: 992px) {
    .carousel-inner {
        min-height: 30rem;
    }
}

@media (min-width: 1200px) {
    .carousel-inner {
        min-height: 40rem;
    }
}

@media (min-width: 1400px) {
    .carousel-inner {
        min-height: 48rem;
    }
}

/*===========================
        Cuerpo
===========================*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*===========================
        Encabezado
===========================*/

#menu li > a{
    font-size: 18px;
    font-weight: bold;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}

#logo {
    width: 100px;
    height: 100px;
}

/*===========================
        Slide de imágenes
===========================*/

.carousel-inner {
    max-height: 23rem;
}

/*===========================
        Footer
===========================*/

footer {
    background-color: black;
    min-height: 100px;
}

footer p{
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: white;
}